@model online_library_management_system.ViewModels.ItemVM
@{
    ViewData["Title"] = "Books & CDs";
}
<!-- Start: Page Banner -->
<section class="inner-page-banner">
    <div class="container">
        <div class="banner-header">
            <h2>@ViewData["Title"]</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a asp-controller="Items" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<!-- End: Page Banner -->
<!-- Start: Book & Media Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="books-media-list">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <partial name="_SearchPartial" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-lg-3">
                            <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                <partial name="_FiltersPartial" />
                            </aside>
                        </div>

                        <div class="col-md-12 col-lg-9">
                            <div class="books-media-listing">
                                <div class="row">
                                    @foreach (var item in Model.Items!)
                                    {
                                        <div class="col-sm-6 col-lg-6 col-xl-4">
                                            <div class="single-book-media">
                                                <div class="book-thumb">
                                                    <a class="bg-light-blue price-tag" asp-controller="Items" asp-action="Index" asp-route-selectedItemTypes="@item.ItemType">
                                                        @item.ItemType
                                                    </a>
                                                    <img src="~/images/books-media/@item.ImagePath" alt="@item.Title" />
                                                </div>
                                                <div class="book-detail">
                                                    <h3 class="book-media-title">
                                                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId">@item.Title</a>
                                                    </h3>
                                                    <p><strong>Author:</strong> @item.AuthorsAndArtists?.Name</p>
                                                    <p><strong>ISBN:</strong> @(string.IsNullOrWhiteSpace(item.ISBN) ? "N/A" : item.ISBN)</p>
                                                    <div class="card-links">

                                                        <a class="btn btn-outline-primary btn-block" asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId">
                                                            View More
                                                        </a>
                                                        @if (item.Availability == "Yes")
                                                        {
                                                            <a asp-controller="Items" asp-action="Reserve" asp-route-id="@item.ItemId" class="btn btn-primary btn-block">
                                                                Reserve a @(item.ItemType == "Book"? "Book" : "CD" )
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="btn btn-primary btn-block disabled">
                                                                Not Available
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            @if (Model.TotalPages > 1)
                            {
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item first-page-link"></li>
                                        @for (int i = 1; i <= Model.TotalPages; i++)
                                        {
                                            <li class="page-item">

                                                <a class="page-link @(i == Model.CurrentPage ? "active" : "")" asp-action="Index"
                                                   asp-route-page="@i"
                                                   asp-route-search="@Model.Search"
                                                   asp-route-selectedItemTypes="@string.Join(",", Model.SelectedItemTypes ?? new List<string>())"
                                                   asp-route-selectedCategories="@string.Join(",", Model.SelectedCategories ?? new List<string>())"
                                                   asp-route-availability="@Model.Availability">
                                                    @i
                                                </a>
                                            </li>
                                        }

                                        <li class="page-item last-page-link"></li>
                                    </ul>
                                </nav>
                            }
                            </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>
<!-- End: Books & Media Section -->




